{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <div class="form-group">
            <select name="symbol" placeholder="Symbols" form="sell">
                <option> {{purchasedStock['symbols']}}</option>
            </select>
    </div>
    <form action="/sell" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}



